training_state
figures/
figures/*
notebooks/
notebooks/*

results*/
results*/*
eval_teammates/
eval_teammates/*
val_teammates/
val_teammates/*
wandb/
wandb/*
.vscode/
.vscode/*
.venv/

# Human data raw
human_data_collecting/collected_data_prolific/
human_data_collecting/*.tar.gz
human_data_processing/processed/
*.safetensors

# pycache
**/__pycache__/
**/*.pyc

# Python packaging artifacts
*.egg-info/
__pycache__/
*.pyc
dist/
build/
uv.lock
