training_state
figures/
notebooks/

results*/
eval_teammates/
val_teammates/
wandb/
.vscode/

# pycache
**/__pycache__/
**/*.pyc

# Python packaging artifacts
*.egg-info/
__pycache__/
*.pyc
dist/
build/
