training_state
figures/
notebooks/

results*/
temp/
eval_teammates/
val_teammates/
wandb/
.wandb/

# Human data raw
human_data_collecting/collected_data_prolific/
human_data_collecting/*.tar.gz
human_data_processing/processed/
*.safetensors

# pycache
**/__pycache__/
**/*.pyc

# Python packaging artifacts
*.egg-info/
__pycache__/
*.pyc
dist/
build/
uv.lock

# Coding editor things
CLAUDE.md
.claude/
.vscode/
.venv/
